.vertical-center{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

.login-page {
  background: #01458E;
  height: 100vh;
}

.white{
  color: white;
}

.login-heading{
  margin-top: 200px;
  margin-bottom: 50px;
}

.marginZero {
  margin: 0px;
}

body {
  height: 100vh;
}
.site-logo{
  padding: 10px;
}

.dynamicReport {
  background: lightgray;
  height: calc(100vh - 52.03px);
}

.center {
    text-align: center;
    top: 25%;
    position: relative;
}

.body {
  height:100vh;
}

.hcs {
  margin-bottom: -22px;
  font-size: 80px;
}

.hmain {
  color: #0d7fa8;
}

.p 
{
  color: grey;
}
.inc{
  margin: 0px;
}
.heightfill{
  height:calc(100vh - 52px);
}
.st {
  background-image: url("../images/st-reg1.jpg") ;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: calc(100vh);
}
.st-body {
  
    text-align: center;
    top: 40%;
    position: relative;

}