<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>പദകോശം | it@School</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{%static 'css/style.css' %}" rel="stylesheet" media="screen">
    <link href="{%static 'css/fonts.css' %}" rel="stylesheet" media="screen">
    <link href="{%static 'css/bootstrap-themed.min.css' %}" rel="stylesheet" media="screen">

    <link href="{%static 'css/animate.css' %}" rel="stylesheet" media="screen">
    <script src="{%static 'javascript/jquery.min.js' %}"></script>
    <script src="{%static 'javascript/bootstrap.min.js' %}"></script>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>