<div class="sidebar">
  <div class="sidebar-content">
    <font color="blue">All Kerala Top Contributor</font>
    <br>$Student Name of<br>
    $School Name<br>
    added 37 words<br><br>
    <font color="blue">School Level Top Contributor</font><br>
    $student Name<br>
    added 17 words
    <br><br>
    <font color="blue">$Current Student Name</font><br>
    10 more words to be school level<br> top contributor!!<br>
  </div>
</div>