{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="row">
    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="intro-message text-center">
                <a href="{% url 'home:students_add' %}"><button type="submit" class="btn btn-primary btn-lg white">Add New Student</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12 hidden" id="sidebar">
      {% include "common/sidebar.html" %}
    </div>
  </div>
</div>
