{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="row">
    <div class="column col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main">
      <div class="center">
		<div class="hmain">
			<h1 class="hcs" >Thank you!</h1>
			<h2></h2>
		</div>
		<p class="p">വാക്കുകൾ ചേർത്ത് നിങ്ങൾ ഈ സംരംഭത്തിന്റെ ഭാഗമായിരിക്കുന്നു.</p><p class="p">  മലയാളം കമ്പ്യൂട്ടിങ്ങിനുള്ള നിങ്ങളുടെ സംഭാവനകൾ വിലമതിക്കാനാവാത്തതാണ്.</p>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <br><br><br>
        <a class="btn btn-default btn-block" href="{% url 'home:home' %}">
          Go back to home
        </a>
      </div>
    </div>
	</div>
    </div>
    <div class="hidden column col-lg-3 col-md-3 col-sm-3 col-xs-12" id="sidebar">
      {% include "common/sidebar.html" %}
    </div>
  </div>
</div>