{% load crispy_forms_tags %}

{% include "common/inner_pages.html" %}
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="column col-lg-offset-2 col-lg-8">
        <form method='post' class="top-pad100 bottom-pad100">
          {% csrf_token %}
          <div class="panel panel-default">
            <div class="panel-heading">
            <h4>
              ഒരു പുതിയ വാക്ക് ചേർക്കാം
            </h4>
            </div>
            <div class="panel-body">
                <div class="tc-word-form">
                  {{ form.text|as_crispy_field }}
                  {{ form.etymology|as_crispy_field }}
                  {{ form.homonyms|as_crispy_field }}
                  {{ form.origin_language|as_crispy_field }}
                  {{ form.place|as_crispy_field }}
                  {{ form.plural|as_crispy_field }}
                  {{ form.singular|as_crispy_field }}
                  {{ form.root|as_crispy_field }}
                </div>                    
            </div>
          </div>
          <div class="tc-meaning-form-wrap">
            {{ formset.management_form }} 
            {% for form_meaning in formset %}
              <div class="panel panel-default tc-meaning-form
                        {% if forloop.counter != 1 %}
                          hidden
                        {% endif %}
              ">
                <div class="panel-heading">
                  <h6>Meaning {{ forloop.counter }}</h6>
                </div>
                <div class="panel-body">
                    {{ form_meaning.text|as_crispy_field }}
                    {{ form_meaning.category|as_crispy_field }}
                    {{ form_meaning.gender|as_crispy_field }}
                    {{ form_meaning.examples|as_crispy_field }}
                    {{ form_meaning.synonyms|as_crispy_field }}
                    {{ form_meaning.opposites|as_crispy_field }}
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="tc-form-controls">
            <div class="row">
              <div class="col-md-4">
                <a class="btn btn-sm btn-default tc-btn-menaing-new" href='#'>Add another meaning</a>                            
              </div>
              <div class="col-md-8 text-right">
                <input class="btn btn-sm btn-success" type="submit" name="finish" value='വാക്കുകൾ എല്ലാം ചേർത്ത് കഴിഞ്ഞ് ഇവിടെ ക്ലിക്ക് ചെയ്യുക'>
                <input class="btn btn-sm btn-success" type="submit" name="add_another" value='മറ്റൊരു വാക്കു കൂടി ചേർക്കുക'>
              </div>
            </div>
            
          </div>
        </form>
      </div>
      <div class="hidden column col-lg-3 col-md-3 col-sm-3 col-xs-12" id="sidebar">
        {% include "common/sidebar.html" %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$(function(){
  loadData('district', '/data/retrieve?', 'District');
  $('.tc-btn-menaing-new').click(function(event){
    event.preventDefault();
    var panel_meaning_new = $('.tc-meaning-form.hidden').first();
    panel_meaning_new.removeClass('hidden');

    $('html, body').animate({
        scrollTop: panel_meaning_new.offset().top - 80,
    }, 500);
    
  });
});

function loadData(id, url , option) {
    $("#"+id).html($('<option>', { 
        value   : option,
        text    : option,
        disabled: true,
        selected: true
    }));
    $.ajax({
      type: "GET",
      crossDomain: true,
      url: url,
      dataType: "json",
      success: function(resultData){
          $.each(resultData[Object.keys(resultData)[0]], function (i, item) {
              $("#"+id).append($('<option>', { 
                  value: item,
                  text : item 
              }));
          });
      },
      error: function(e) {
        alert('Check the Console to see Error Messages');
        console.log(e);
      },
    });
};

</script>